<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Welcome to the campaign page {{{campaign.id}}}</h1>
      <h1>Welcome to the campaign page {{{campaign.campaignTitle}}}</h1>
      <h1>Welcome to the campaign page {{{campaign.imageUrl}}}</h1>
      <h1>Welcome to the campaign page {{{campaign.description}}}</h1>
      {{{projects}}}
    </div>
  </div>
</div>
