<div class="container">
  <div class="row">
    <div class="col-sm-12">
{{!--       <h1>Welcome to the campaign page {{{campaign.id}}}</h1>
      <h1>Welcome to the campaign page {{{campaign.campaignTitle}}}</h1>
      <h1>Welcome to the campaign page {{{campaign.imageUrl}}}</h1>
      <h1>Welcome to the campaign page {{{campaign.description}}}</h1>
      {{{projects}}} --}}
  <div class="row">
  	<div class = "col-sm-11 col-sm-offset-1">
  		<h1> Welcome to the campaign page </h1>
  	</div>
  </div> <!-- end row -->

  <div class="row">
  	<div class = "col-sm-5 col-sm-offset-1">
  		<img src="{{campaign.imageUrl}}" class="campaignPhoto">
  	</div>
  	<div class = "col-sm-5 	left-block">
  		<h2> {{campaign.name}} </h2>
  	</div>
  </div> <!-- end row -->
      

      <div class="row">
        <div class="col-sm-12">
          <form action="/donate" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_A8q8AtUuAinkLIzk1YrLGORq"
              data-amount="2000"
              data-name="Gibu Donation"
              data-description=" widgets"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          </form>
        </div>
      </div>
    </div>
  </div>
  

</div>
