<link rel="stylesheet" href="css/dashboard.css" />
<div class="container">
  <div class="row ">
    <div class="col-sm-5 col-sm-offset-1">
      <h1>Hi, <span class="username-text">{{{user.username}}}</span></h1>
	</div>
	<div class="col-sm-3 pull-right logoutButton">
		<a href="/logout" class="logoutButton">Logout</a>
	</div>
  </div> <!-- end row -->
  <div class="row">
	  <div class="col-sm-5 col-sm-offset-1">
	  	<img src="../imgs/user2.jpg" alt="UserPhoto" class="UserPhoto">
	  </div>

	  <div class="col-sm-12 col-sm-offset-1 ">
	  		<a href="/newcampaign" class="newCampaignButton">Create a new campaign</a>
	  </div>
  </div> <!-- end row -->	
	<div class="row well projectsWell">
          <h2 class="project-head">Featured Projects:</h2>
    </div>
    <div class="row mt projectListingDiv">
      <ul class="grid effect-2" id="grid">
        {{#each projects}}
          <li>
            <a href="/{{this.id}}">
              <div class="text-center thumbnail">
                <img src="{{this.imageUrl}}" alt="idk" class ="thumb-img">
                <div class="caption">
                  <h3 class="thumb-head">{{this.name}}</h3>
                  {{!--<p>{{this.description}}</p>--}}
                  <p>${{this.goal}}</p>
                  <p>Raised: $1,000</p>
                </div>  
              </div>
            </a>
          </li>
        {{/each}}
        
      </ul>
    </div><!-- row -->

	 	<div class="row">
	 		<br>
	 	</div>
</div>
