<!-- MAIN IMAGE SECTION -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv1">
        <div class="animated fadeOut insideDiv1">
          <h2>Give</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv3">
        <div class="animated fadeOut insideDiv3">
          <h2>Donate </h2>
        </div>
      </div>
    </div> <!-- end row -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 mainLogo animated flipInX">
        <h1>Gibu</h1>
        <div class="spacer"></div>
        {{!-- <i class="fa fa-angle-down"></i> --}}
      </div>
      <div>
        <h2 class = "animated zoomIn headerSlogan">Support what matters</h2>
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv4">
        <div class="animated fadeOut insideDiv4">
          <h2>Connect</h2>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text center animated fadeIn outsideDiv2">
        <div class="animated fadeOut insideDiv2">
          <h2>Share</h2>
        </div>
      </div>
    </div> <!-- end row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<!-- FEATURED PROJECTS SECTION -->
<div id ="featured-projects" class="section-wrap">
  <div class="container">
    <div class="row">
      <h2 class="project-head">Featured Projects:</h2>
    </div>

    <div class="row mt">
      <ul class="grid effect-2" id="grid">

        {{#each projects}}
          <li>
            <a href="/{{this.id}}">
              <div class="text-center thumbnail">
                <img src="{{this.imageUrl}}" alt="idk" class ="thumb-img">
                <div class="caption">
                  <h3 class="thumb-head">{{this.name}}</h3>
                  {{!--<p>{{this.description}}</p>--}}
                  <p>${{this.goal}}</p>
                  <p>Raised: $1,000</p>
                </div>  
              </div>
            </a>
          </li>
        {{/each}}
        
      </ul>
    </div><!-- row -->
  </div><!-- container -->
</div> <!-- section-wrap -->

      <!-- NEWEST PROJECTS: -->
<div id ="newest-projects" class="section-wrap">
  <div class="container">
    <div class="row">
      <h2 class="project-head">Newest Projects:</h2>
    </div>

    <div class="row mt">
      <ul class="grid effect-2" id="grid">

        {{#each newProjects}}
            <li>
              <a href="/{{this.id}}">
                <div class="text-center thumbnail">
                  <img src="{{this.imageUrl}}" alt="idk" class ="thumb-img">
                  <div class="caption">
                    <h3 class="thumb-head">{{this.name}}</h3>
                    {{!--<p>{{this.description}}</p>--}}
                    <p>${{this.goal}}</p>
                    <p>Raised: $1,000</p>
                  </div>  
                </div>
              </a>
            </li>
        {{/each}}
        
      </ul>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section-wrap -->

<!-- CLOSE TO FUNDING GOAL PROJECTS: -->
<div id ="nearly-funded" class="section-wrap">
  <div class="container">
    <div class="row">
      <h2 class="project-head">Nearly Funded Projects:</h2>
    </div>

    <div class="row mt">
      <ul class="grid effect-2" id="grid">

      </ul>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section-wrap -->

<!-- WELCOME SECTION -->
<div class="container-fluid">
  <div class="row mt aboutSection">
    <h1>About Gibu</h1>
    <div class="col-lg-12 col-md-12">
      <p>Gibu, was started by four young enterpreneurs seeking to further their education in the tech space. Gibu has a grown into a broad platform where users can fundraise for a variety of projects, while contributors can donate to their friends or support things they feel passionate about.</p>
    </div>
    <div class="col-lg-12 col-md-12">
      <button type="button" class="btn btn-green center-block">Start Your Fundraising Campaign Now</button>
    </div>
    <div class="col-lg-12 col-md-12 text-center">
      <br>
        <p> Created by Nathan | Abanda | Jihyun | Igor | Asha </p>
    </div>
  </div><!-- row -->
</div><!-- container -->
