<!-- MODAL -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1260" height="944" src="https://www.youtube.com/embed/tR6TXRMUmGs" class="center-block" id="modalplayer">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MAIN IMAGE SECTION -->
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text center animated fadeIn outsideDiv1">
        <div class="animated fadeOut insideDiv1">
          <h2>Give</h2>
        </div>
      </div>
      <div class="col-md-6 text center animated fadeIn outsideDiv3">
        <div class="animated fadeOut insideDiv3">
          <h2>Donate </h2>
        </div>
      </div>
    </div> <!-- end row -->
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 mainLogo animated flipInX">
        <h1>Gibu</h1>
        <div class="spacer"></div>
        {{!-- <i class="fa fa-angle-down"></i> --}}
      </div>
      <div class = "animated zoomIn headerSlogan">
        <h2>Support what matters</h2>
        <button type="button" class="btn btn-default btn-lg launch-modal" data-modal-id="modal-video">
          <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> New to Gibu?
        </button>
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-md-6 text center animated fadeIn outsideDiv4">
        <div class="animated fadeOut insideDiv4">
          <h2>Connect</h2>
        </div>
      </div>
      <div class="col-md-6 text center animated fadeIn outsideDiv2">
        <div class="animated fadeOut insideDiv2">
          <h2>Share</h2>
        </div>
      </div>
    </div> <!-- end row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->

<!-- FEATURED PROJECTS SECTION -->
<div id ="featured-projects" class="section-wrap">
  <div class="container">
    <div class="row">
      <h2 class="project-head">Featured Projects:</h2>
    </div>

    <div class="row mt">
      <ul class="grid effect-2" id="grid">

        {{#each projects}}
          <li>
            <a href="/{{this.id}}">
              <div class="text-center thumbnail">
                <img src="{{this.imageUrl}}" alt="idk" class ="thumb-img">
                <div class="caption">
                  <h3 class="thumb-head">{{this.name}}</h3>
                  {{!--<p>{{this.description}}</p>--}}
                  <p>${{this.goal}}</p>
                  <p>Raised: $1,000</p>
                </div>  
              </div>
            </a>
          </li>
        {{/each}}
        
      </ul>
    </div><!-- row -->
  </div><!-- container -->
</div> <!-- section-wrap -->

      <!-- NEWEST PROJECTS: -->
<div id ="newest-projects" class="section-wrap">
  <div class="container">
    <div class="row">
      <h2 class="project-head">Newest Projects:</h2>
    </div>

    <div class="row mt">
      <ul class="grid effect-2" id="grid">

        {{#each newProjects}}
            <li>
              <a href="/{{this.id}}">
                <div class="text-center thumbnail">
                  <img src="{{this.imageUrl}}" alt="idk" class ="thumb-img">
                  <div class="caption">
                    <h3 class="thumb-head">{{this.name}}</h3>
                    {{!--<p>{{this.description}}</p>--}}
                    <p>${{this.goal}}</p>
                    <p>Raised: $1,000</p>
                  </div>  
                </div>
              </a>
            </li>
        {{/each}}
        
      </ul>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section-wrap -->

<!-- CLOSE TO FUNDING GOAL PROJECTS: -->
{{!--<div id ="nearly-funded" class="section-wrap">
  <div class="container">
    <div class="row">
      <h2 class="project-head">Nearly Funded Projects:</h2>
    </div>

    <div class="row mt">
      <ul class="grid effect-2" id="grid">

      </ul>
    </div><!-- row -->
  </div><!-- container -->
</div>--}}<!-- section-wrap -->
